<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="Test_DB" connectionString="data source=RAMACHANDRAN_D\MSSQLSERVER_14;initial catalog=Test_db; user id=sa; password=ram" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>